/*----------------------------------------------------------------------------*/
/*------------------------------ Layout and Style ----------------------------*/
/*----------------------------------------------------------------------------*/
.post {
  margin: 1em 0;
}

h1.post-title {
  margin: 0;
  font-size: 1.8em;
}
h2.post-date {
  margin: 0 0 1em;
  font-size: 1.2em;
  font-weight: 400;
}

/* Tablet Styles */
@media only screen and (min-width: 640px) {
}

/* Desktop Styles */
@media only screen and (min-width: 800px) {
}
