@import url('monokai.css');

.highlight, .highlight .w {
  padding: 0.5em 1em;
  overflow-x: auto;
}

/* Tablet Styles */
@media only screen and (min-width: 640px) {
  .highlight, .highlight .w {
    border-radius: 0.5em;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 800px) {
}

